/* App.css */

/* General Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('./Image/Plane.jpeg') no-repeat center center fixed; /* Set background image */
  background-size: cover; /* Cover the entire background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  font-weight: bold; /* Make all fonts bold */
}

/* Container Styles */
.container {
  padding: 30px; /* Increased padding */
  max-width: 1200px;
  width: 100%; /* Full width for responsiveness */
  background-color: #fff; /* White background for the container */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center; /* Center text inside the container */
  font-weight: bold; /* Make fonts bold in the container */
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 20px; /* Increased padding */
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  font-weight: bold; /* Make fonts bold in the navbar */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 30px; /* Increased margin */
}

.nav-item a {
  color: white; /* Changed font color to white for links */
  text-decoration: none;
  font-size: 1.5em; /* Increased font size */
  font-weight: bold; /* Make font bold for links */
}

.nav-item h3 {
  display: inline;
  margin: 0;
  font-size: 1.5em; /* Increased font size */
  font-weight: bold; /* Make font bold for h3 */
}

/* Dropdown Styles */
.dropdown {
  position: absolute;
  background-color: #000; /* Changed background color to black */
  border: 1px solid #333; /* Darker border color */
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  text-align: left; /* Align dropdown text to the left */
  font-weight: bold; /* Make fonts bold in the dropdown */
}

.dropdown li {
  padding: 15px 20px; /* Increased padding */
  font-size: 1.3em; /* Increased font size */
  cursor: pointer;
  color: white; /* Changed text color to white for contrast */
}

.dropdown li:hover {
  background-color: #333; /* Dark grey background on hover */
}

/* Title Styles */
.title {
  font-size: 3em; /* Increased font size */
  color: black; /* Changed font color to black */
  margin-top: 20px;
  font-weight: bold; /* Make font bold for title */
}

/* Paragraph Styles */
p {
  font-size: 1.8em; /* Increased font size */
  color: black; /* Changed font color to black */
  line-height: 1.6; /* Increased line height for readability */
  font-weight: bold; /* Make font bold for paragraphs */
}

p br {
  margin: 10px 0;
}
